# vim: ft=gitconfig commentstring=#%s
[core]
	editor = nvim
[user]
	name = Noah Biederbeck
	email = noah.biederbeck@udo.edu
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[credential]
	helper = cache --timeout=10800
[alias]
    # log
    l = log --color --graph --pretty=format:'%C(blue)%ad %C(cyan)(%ar) %C(green)%cn %C(yellow)%d %C(reset)%n %s %n  %b'
    # long log
    ll = log --color --graph --date=short --pretty=format:\"%Cblue%ad %Cgreen%an %C(yellow)%h %Creset%s %Cred%d %n%Creset%b\"
    # oneline log
    ol = log --oneline
    last = log -1 HEAD
    c = commit -m
    co = checkout
    br = branch
    s = status
    a = add
[log]
    date = default-local
