; vim: ft=gitconfig
[core]
	editor = nvim
[user]
	name = Noah Biederbeck
	email = noah.biederbeck@udo.edu
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[credential]
	helper = cache --timeout=10800
[alias]
    l = log --graph
    ll = log --color --pretty=format:\"%Cgreen%ad%Creset %C(yellow)%an%Creset  %s%Cred%d%Creset\" --graph --date=short
    co = commit -m
    s = status
