; vim: ft=gitconfig
[core]
	editor = nvim
[user]
	name = Noah Biederbeck
	email = noah.biederbeck@udo.edu
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[credential]
	helper = cache --timeout=10800
[alias]
    l = log --graph
    hist = log --pretty=format:\"(%ad) [%an] %s%d\" --graph --date=short
    co = commit -m
    fire = commit -a -m 'fire'
