! vim: ft=xdefaults commentstring=!%s


#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! ! "special"
! *.foreground: #D8DEE9
! *.background: #2E3440
! *.cursor:     #D8DEE9
! ! "colors"
! *.color0:     #3B4252
! *.color8:     #4C566A
! *.color1:     #BF616A
! *.color9:     #BF616A
! *.color2:     #A3BE8C
! *.color10:    #A3BE8C
! *.color3:     #EBCB8B
! *.color11:    #EBCB8B
! *.color4:     #81A1C1
! *.color12:    #81A1C1
! *.color5:     #B48EAD
! *.color13:    #B48EAD
! *.color6:     #88C0D0
! *.color14:    #8FBCBB
! *.color7:     #E5E9F0
! *.color15:    #ECEFF4

! ! URXVT SETTINGS
URxvt.perl-ext-common:        default,matcher,resize-font
URxvt.borderless:             true
! URxvt.geometry:               84x24
URxvt.font:                   xft:SourceCodeVariable:Regular:size=10
! URxvt.url-launcher:           /usr/bin/xdg-open
! URxvt.url-select.launcher:    /usr/bin/xdg-open
! URxvt.url-select.underline:   true
! URxvt.keysym.C-Right:         perl:url-select:select_next
! URxvt.keysym.C-Left:          perl:url-select:select_previous
! URxvt.matcher.button:         1
! URxvt.matcher.rend.0:         Uline fg5
URxvt.scrollBar:              false
URxvt.scrollBar_right:        true
URxvt.scrollStyle:            plain
! ! URxvt.scrollColor:            #232323
URxvt.scrollColor:            #232629
! URxvt.letterSpace:            -0.0
! URxvt.rowSpace:               -2.0
URxvt.saveLines:              8192
URxvt.iso14755:               false
URxvt.iso14755_52:            false
URxvt.keysym.C-Down:          resize-font:smaller
URxvt.keysym.C-Up:            resize-font:bigger
! ! URxvt.keysym.Shift-Control-V: perl:clipboard:paste
! ! URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.secondaryScreen:        1
URxvt.secondaryScroll:        1
URxvt.scrollTtyOutput:        true
URxvt.scrollWithBuffer:       true
URxvt.scrollTtyKeypress:      true
URxvt.cursorBlink:            false
URxvt.transparent:            false
URxvt.shading:                20
URxvt.depth:                  32
