#  -- i3blocks --  #
bar {
    status_command i3blocks
    # output eDP1
    tray_output HDMI-2
    tray_padding 0
    font                pango:SourceCodeVariable, Awesome $fontsize
    colors {
        #                  #color
        background         $black
        statusline         $boldwhite
        separator          $white
        #                  #border    #background #text
        focused_workspace  $boldwhite $boldwhite  $black
        active_workspace   $black     $black      $white
        inactive_workspace $black     $black      $white
        urgent_workspace   $black     $black      $red
        binding_mode       $black     $black      $red
    }
    mode dock                   # dock|hide|invisible
    hidden_state hide           # hide|show
    modifier $alt               # modifier
    strip_workspace_numbers yes # yes|no
    separator_symbol "|"        # any symbol
    position bottom             # top|bottom
    workspace_buttons yes       # yes|no
}
#
# -- odd workspaces on laptop screen -- #
workspace $ws1 output DP-1
workspace $ws3 output DP-1
workspace $ws5 output DP-1
workspace $ws7 output DP-1
workspace $ws9 output DP-1
workspace $ws2 output HDMI-2
workspace $ws4 output HDMI-2
workspace $ws6 output HDMI-2
workspace $ws8 output HDMI-2
workspace $ws10 output HDMI-2
