# -- odd workspaces on laptop screen -- #
workspace $ws1 output eDP1
workspace $ws3 output eDP1
workspace $ws5 output eDP1
workspace $ws7 output eDP1
workspace $ws9 output eDP1
workspace $ws2 output DP2-3 DP2
workspace $ws4 output DP2-3 DP2
workspace $ws6 output DP2-3 DP2
workspace $ws8 output DP2-3 DP2
workspace $ws10 output DP2-3 DP2

# -- gaps -- #
# gaps inner|outer current|all set|plus|minus <px>
# workspace <ws> gaps inner|outer <px>
gaps inner $gapsize
smart_gaps on

bindsym $mod+g mode "gaps"
mode "gaps" {
    # use default gaps
    bindsym y gaps inner all set $gapsize, gaps outer all set 0, mode "default"
    # no gaps at all
    bindsym n gaps inner all set 0, gaps outer all set 0, mode "default"
    # change size of gaps
    bindsym p gaps inner all plus 2
    bindsym m gaps inner all minus 2
    bindsym o gaps outer all plus 2
    bindsym i gaps outer all minus 2
    # back to normal: Enter or Escape
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

exec_always --no-startup-id ~/.config/polybar/launch.sh
