# vim: ft=sh

alias 'nb'='ssh -N -f -L 2702:localhost:2702'

# games
alias 'anno'='wine /home/noah/.wine/drive_c/Program\ Files\ \(x86\)/ANNO\ 1602\ Königs-Edition/1602.exe'

# cding
alias 'aoc'='cd ~/Programming/AoC/2018'
alias 'msc'='conda activate; cd ~/Uni/MSc/master-thesis/code'
alias 'smd'='cd ~/Uni/SMD/smd_uebungen'
alias 'prak'='cd ~/Uni/MSc/praktikum && conda activate'
alias 'thesis'='cd ~/Uni/MSc/master-thesis; source .env/bin/activate.bash'

# Arch, Pacman
alias 'mirrorupdate'='echo "reflector -n 20 -p https -l 10 -c Germany --sort rate --score 5 | sudo tee /etc/pacman.d/mirrorlist" && reflector -n 20 -p https -l 10 -c Germany --sort rate --score 5 | sudo -k tee /etc/pacman.d/mirrorlist'
alias 'syu'='sudo -k pacman -Syu'
alias 'yyy'='yay -Syu --noconfirm'
alias 'pbget'='pbget --dir ~/AUR/gits/ --pull'

# Useful abbreviations
alias 'up'='uptime --pretty'
alias 'gits'='git status -s'
alias 'pull'='echo "git pull --all --verbose --progress" && git pull --all --verbose --progress'
alias 'push'='echo "git push --verbose --progress" && git push --verbose --progress'
alias 'open'='xdg-open'
alias 'xclip'='xclip -selection c'
alias 'cower'='cower --target ~/AUR/gits'
alias 'htop'='htop -u $USER'
alias '..'='cd ..'
alias '...'='cd ../..'
alias '....'='cd ../../..'
alias 'calc'='bc -l; exit'
alias 'now'='cal -m;date'

# Useful optional arguments for commonly used commands
# alias 'rm'='rm -vI'
# alias 'mv'='mv -v'
# alias 'cp'='cp -v'
# alias 'mkdir'='mkdir -p'
alias 'ls'='ls --color="always"'
alias 'll'='ls -al'
alias 'la'='ls -a'
if [[ $(command -v exa) ]]; then
    alias 'ls'='exa'
fi
# alias 'make'='time make'
# alias 'python'='time python'

# Python commands
# alias 'notebook'='jupyter notebook' # && nbconvert *.ipynb'
# alias 'nbconvert'='time jupyter nbconvert --to python'
# alias 'pip'='pip --no-cache-dir'
alias 'pip-upgrade'='echo "pip install -U pip && pip install -U \$(pip list -o --format freeze | sed \"s/==.*//\")" && pip install -U pip && pip install -U $(pip list -o --format freeze | sed "s/==.*//")'
alias 'pip-freeze'='pip freeze | sed "s/==.*//"'
alias 'conda-freeze'='conda list | sed "s/\ .*//"'
alias 'deactivate'='conda deactivate'
alias 'wal'='~/*conda3/bin/wal'
alias 'lab'='jupyter lab'
alias 'black'='black -l 79'
# alias 'conda2'='source ~/miniconda2/etc/profile.d/conda.sh'
# alias 'conda3'='source ~/miniconda3/etc/profile.d/conda.sh'
alias 'jn'='jupyter-notebook --port=2702 --no-browser'
alias 'jl'='jupyter-lab --port=2702 --no-browser'

# # Work with servers (particularly Vollmond)
alias 'vollmondtunnel'='ssh -N -f -L 2702:localhost:2702 vollmond'
alias 'vollmondtunnelproxy'='ssh -N -f -L 2702:localhost:2702 proxy'
# alias 'copyplots'='rsync -avzuh --progress -e ssh nbiederbeck@vollmond:bachelorArbeit/*  /media/noah/23c4ddbc-85fa-4cea-b96b-edae0bb138c9/bachelorArbeit_fromVollmond/'
# alias 'vollmondnotebook'='ssh -f -N vollmondtunnel'
# alias 'scp'='scp -i $HOME/.ssh/id_rsa.phido'

# Correct wrong typed commands on the fly
# alias 'vim'='echo "using nvim..." && nvim'
if [[ $(command -v nvim) ]]; then
    alias 'vim'='nvim'
    alias 'sim'='nvim -O'
    alias 'tim'='nvim -p'
fi

alias 'fim'='vim $(fd --type f | fzf --preview "bat --color=always {} | head -100")'
alias 'fcd'='cd $(fd --type d --hidden --exclude *conda* | fzf --preview "ls {} -a --color=always")'
alias 'cdf'='cd $(fd --type d | fzf --preview "ls {} -a --color=always")'

# Misc
# alias 'pdfpandoc'='pandoc -r markdown -w latex -o'
alias 'speedtest'='time seq -f "test %g"'
alias 'rustbook'='surf ~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/share/doc/rust/html/book/second-edition/index.html &'

alias 'base'='source ~/venv/base/bin/activate'

alias "listgit"="fd '\.git$' -HI -t d -E .vim -E .cache -E .oh-my-zsh -E .cargo"

alias "cpu"="ps -e --user noah --format 'cmd pid %mem %cpu' --sort -%cpu,-%mem | head"
