! vim: ft=xdefaults commentstring=!%s

! URXVT SETTINGS
URxvt.perl-ext-common:        default,clipboard,matcher
URxvt.borderless:             true
URxvt.geometry:               84x24
URxvt.font:                   xft:OfficeCodeProD:regular:size=11,xft:FontAwesome:size=11
URxvt.urlLauncher:            xdg-open
URxvt.matcher.button:         1
URxvt.matcher.rend.0:         Uline fg5
URxvt.scrollBar:              true
URxvt.scrollBar_right:        true
URxvt.scrollStyle:            plain
URxvt.scrollColor:            #232323
URxvt.letterSpace:            -0.0
URxvt.rowSpace:               -1.0
URxvt.saveLines:              2048
! URxvt.iso14755:               false
! URxvt.iso14755_52:            false
! URxvt.keysym.Shift-Control-V: perl:clipboard:paste
! URxvt.keysym.Shift-Control-C: perl:clipboard:copy
! URxvt.secondaryScreen:        1
! URxvt.secondaryScroll:        1
URxvt.scrollTtyOutput:        true
URxvt.scrollWithBuffer:       true
URxvt.scrolTtyKeypress:       true
! URxvt.cursorBlink:            false
URxvt.transparent:            true
URxvt.shading:                10
URxvt.depth:                  32

! COLORS
! special
*.foreground: #cfcfc2
*.background: #232629
*.cursor:     #cfcfc2
! black
*.color0:     #2a2e32
*.color8:     #31363b
! red
*.color1:     #c0392b
*.color9:     #f44f4f
! green
*.color2:     #218058
*.color10:    #27ae60
! yellow
*.color3:     #fdbc4b
*.color11:    #fdbc4b
! blue
*.color4:     #2980b9
*.color12:    #0099ff
! magenta
*.color5:     #8e44ad
*.color13:    #af81ff
! cyan
*.color6:     #27aeae
*.color14:    #31dddd
! white
*.color7:     #acada1
*.color15:    #cfd0c2
