! vim: ft=xdefaults commentstring=!%s
! -----  define colors  ----- !
#define nord0  #2E3440  /* almost black */
#define nord1  #3B4252  /* dark gray  */
#define nord2  #434C5E  /* lighter gray */
#define nord3  #4C566A  /* dark gray-blue */
#define nord4  #D8DEE9  /* darkest-white */
#define nord5  #E5E9F0  /* dark-white */
#define nord6  #ECEFF4  /* light-white*/
#define nord7  #8FBCBB  /* turquoise */
#define nord8  #88C0D0  /* cyan */
#define nord9  #81A1C1  /* light gray-blue*/
#define nord10 #5E81AC  /* dark-blue */
#define nord11 #BF616A  /* red */
#define nord12 #D08770  /* orange */
#define nord13 #EBCB8B  /* yellow */
#define nord14 #A3BE8C  /* green */
#define nord15 #B48EAD  /* lila */

! -----  rxvt extensions  ------ !
URxvt.perl-ext-common:  default,clipboard
! URxvt.tabbed.tabbar-fg: 6
! URxvt.tabbed.tabbar-bg: 0
! URxvt.tabbed.tab-fg:    14
! URxvt.tabbed.tab-bg:    0

! ----- urxvt settings  ----- !
URxvt.borderless:      true
URxvt.geometry:        84x24
! URxvt.font:            xft:mono:medium:size=11
URxvt.font:            xft:OfficeCodeProD:regular:size=11,xft:FontAwesome:size=11
URxvt.urlLauncher:     /home/noah/Downloads/firefox/firefox
URxvt.scrollBar:       true
URxvt.scrollBar_right: true
URxvt.scrollStyle:     plain
URxvt.scrollColor:     #232323
URxvt.letterSpace:     -0.0
URxvt.rowSpace:        -1.0
URxvt.saveLines:       4096
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: false

! -----  set colors  ----- !
! *.foreground:  nord4
! *.background:  nord0
! *.cursorColor: nord4
! *.fading:      42
! *.fadeColor:   nord3
! *.fadeColor:   rgba:0000/0000/0000/0000
URxvt.transparent: true
URxvt.shading: 20
URxvt.depth: 32

rofi.color-window: #2e3440, #a3be8c , #3b4252
rofi.color-normal: #3b4252, #d8dee9, #3b4252, #d8dee9, #3b4252
rofi.color-active: #3b4252, #5e81ac, #3b4252, #5e81ac, #3b4252
rofi.color-urgent: #3b4252, #bf616a, #3b4252, #bf616a, #3b4252

! black
*.color0:  #3B4252
*.color8:  #4C566A
! red
*.color1:  #BF616A
*.color9:  #BF616A
! green
*.color2:  #A3BE8C
*.color10: #A3BE8C
! yellow
*.color3:  #EBCB8B
*.color11: #EBCB8B
! blue
*.color4:  #81A1C1
*.color12: #81A1C1
! magenta
*.color5:  #B48EAD
*.color13: #B48EAD
! cyan
*.color6:  #88C0D0
*.color14: #8FBCBB
! white
*.color7:  #E5E9F0
*.color15: #ECEFF4

! #include "/home/noah/dark_color"
! #include "/home/noah/solarized"

! ! special
! *.foreground: #cfcfc2
! *.background: #232629
! *.cursorColor: #cfcfc2
! ! black
! *.color0: #2a2e32
! *.color8: #31363b
! ! red
! *.color1: #c0392b
! *.color9: #f44f4f
! ! green
! *.color2: #218058
! *.color10: #27ae60
! ! yellow
! *.color3: #fdbc4b
! *.color11: #fdbc4b
! ! blue
! *.color4: #2980b9
! *.color12: #0099ff
! ! magenta
! *.color5: #8e44ad
! *.color13: #af81ff
! ! cyan
! *.color6: #27aeae
! *.color14: #31dddd
! ! white
! *.color7: #acada1
! *.color15: #cfd0c2
